.ChartLine{
    position: relative;
      height: 360px ;
      width: 740px;
      background:
      linear-gradient(to top, rgba(29, 62, 78,1), rgba(29, 62, 78,.8));
      /* margin: 8px 0; */
      margin: 40px 0 20px 0;
      padding:20px 0;
  }
  